<div id="page">
  <br />
  
  <div class="details">
    <img src="//cdn.shopify.com/s/files/1/0893/2286/files/Hero-Our-Story.png" alt="Our Story" class="img-responsive center-block" />
    <br /><br />
  	
    <div class="container">
      {{ page.content }}
      <br />
      <hr />
      <br />
      
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <img src="//cdn.shopify.com/s/files/1/0893/2286/files/Portrait-Ariel-Lewis.png" alt="Ariel Lewis" class="img-responsive" /><br />
              <h5>Ariel Lewis</h5>
              Co-Owner, Creative Director &amp; Illustrator<br />
              <a href="mailto:ariel@woodsyfoxman.com">ariel@woodsyfoxman.com</a>
              {% comment %}
              <br /><br />
              <p>Ariel is an uninhibited tomboy at heart.</p>
              <p>Loves: Design, photography, snowboarding, soccer, the country-life, warm chai tea, cats, and my little family.</p>              
              {% endcomment %}
              <div class="visible-xs">
                <br /><br />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <img src="//cdn.shopify.com/s/files/1/0893/2286/files/Portrait-Cody-Lewis.png" alt="Cody Lewis" class="img-responsive" /><br />
              <h5>Cody Lewis</h5>
              Co-Owner, Business &amp; Operations Director<br />
              <a href="mailto:cody@woodsyfoxman.com">cody@woodsyfoxman.com</a>
              {% comment %}
              <br /><br />
              <p>Cody lives for the outdoors. He has a knack for making the extremely difficult look easy.</p>
              <p>Loves: Snowboarding, bow-hunting, fishing, wakesurfing, wood-working, Lake Coeur d’Alene, and family.</p>
              {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      
      {% comment %}
      <br />
      <hr />
      <br />
      
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <h5>Press</h5>
              <h4 class="alt-font-dark line-height-inherit">We're honored when others like our work enough to feature it</h4>
              <p>
                If you’re a blogger, publication or other media outlet and you'd like more information, please contact us at
                <a href="mailto:press@woodsyfoxman.com">press@woodsyfoxman.com</a>.
              </p>
              <div class="visible-xs">
                <br /><br />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <span class="h5">Oh So Beautiful Paper</span><br />
              <a href="#">Interview of Woodsy Foxman</a>
            </div>
          </div>
        </div>
      </div>
      {% endcomment %}
    </div>
  </div>
</div>